<header>
  <div class="row">
    <nav class="navbar navbar-light bg-light" style="
    padding-top: 0px;
    padding-bottom: 0px;">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/bank.png" alt="" width="50" height="40">
          <a> My <strong>Bank</strong></a>
        </a>

        <a class="arabic"><img id="flag" src="assets/flag.png" alt="" width="20" height="20">مستخدم العملية </a>
        <button id="btn"> Operation User</button>
      </div>
    </nav>
  </div>
</header>
<div>
  <app-navbar></app-navbar>

</div>
<footer><button class="footer-btn">Dashboard</button></footer>