.arabic{
    margin-right: -1050px;
    float: right;
    text-decoration: none;
}

.navbar-brand{
    margin-left: -740px;
}

#btn{
    background-color: rgba(2, 56, 255, 0.678);
    color: white;
    border-radius: 5px;
    margin-right: -740px;
    margin-left: 0%;
}
.header{
    margin-left: 0px;
    margin-right: 0px;
}

header{
    height: 100%;
    margin: 0;
    padding: 0;
}

.row{
    width: 100%;
}


.container{
    max-width: 0px;
}


/* --------------------------------------------- */

footer{
    background-color: grey;
    text-align: center;
    padding: 5px 0px;
    margin-left: 105px;
}


